In [15]:
import pandas as pd
import openpyxl as xl

In [16]:
job=pd.read_csv("GFDLNFO_BACKADJUSTED_01012021.csv")
job

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest
0,AARTIIND28JAN211160PE,01/01/2021,09:47:59,20.00,20.00,20.00,20.00,425,0
1,AARTIIND28JAN211160PE,01/01/2021,10:02:59,20.30,20.30,20.30,20.30,425,425
2,AARTIIND28JAN211200PE,01/01/2021,09:41:59,30.00,30.00,30.00,30.00,425,0
3,AARTIIND28JAN211200PE,01/01/2021,09:45:59,30.00,30.00,30.00,30.00,425,425
4,AARTIIND28JAN211200PE,01/01/2021,09:58:59,30.00,34.05,30.00,34.05,425,850
...,...,...,...,...,...,...,...,...,...
377938,ZEEL-II,01/01/2021,12:23:59,226.65,226.65,226.65,226.65,3000,255000
377939,ZEEL-II,01/01/2021,13:17:59,226.65,227.40,226.65,227.40,3000,255000
377940,ZEEL-II,01/01/2021,13:36:59,227.40,227.40,226.40,226.40,6000,258000
377941,ZEEL-II,01/01/2021,14:10:59,226.40,227.00,226.40,227.00,3000,258000
377942,ZEEL-II,01/01/2021,15:25:59,227.00,227.10,227.00,227.10,3000,258000

In [28]:
job2=job.loc[(job['Close']>200)&(job['Ticker'].str.startswith('BANKNIFTY'))&(job['Time'].str.startswith('10:00'))]
job2

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest
45312,BANKNIFTY07JAN2130400CE,01/01/2021,10:00:59,1056.00,1056.00,1041.90,1041.90,25,2550
45768,BANKNIFTY07JAN2130500CE,01/01/2021,10:00:59,971.85,971.85,960.00,960.00,75,35950
47485,BANKNIFTY07JAN2130800CE,01/01/2021,10:00:59,734.20,735.05,722.00,722.00,275,18375
48144,BANKNIFTY07JAN2130900CE,01/01/2021,10:00:59,665.00,665.00,652.00,652.00,125,9500
48447,BANKNIFTY07JAN2130900PE,01/01/2021,10:00:59,198.75,207.15,198.75,205.90,12775,145125
...,...,...,...,...,...,...,...,...,...
80674,BANKNIFTY28JAN2132500CE,01/01/2021,10:00:59,454.55,454.55,450.00,450.00,250,99250
81212,BANKNIFTY28JAN2133000CE,01/01/2021,10:00:59,315.05,315.70,310.70,311.00,625,161425
81656,BANKNIFTY28JAN2133500CE,01/01/2021,10:00:59,216.05,216.05,213.20,213.20,200,63975
82659,BANKNIFTY-I,01/01/2021,10:00:59,31386.00,31389.45,31365.00,31365.00,9450,1551425
83032,BANKNIFTY-II,01/01/2021,10:00:59,31435.80,31435.80,31419.75,31419.75,75,56425

In [26]:
job2.style.hide_index()

C:\Users\thegu\AppData\Local\Temp\ipykernel_12964\1051018954.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  job2.style.hide_index()

In [30]:
job2.to_excel("jugglers47.xlsx")